.gsd-keyboard.settings-ported
dconf/
enchant/
evolution/
gedit/
gnome-control-center/
gnome-initial-setup-done
goa-1.0/
gtk-3.0/
ibus/
menus/
mimeapps.list
nautilus/
pop-system-updater/
pulse/
totem/
touchegg/
user-dirs.dirs
user-dirs.locale
google-chrome
/tmux/plugins/
QtProject.conf
Vial/
VirtualBox/
autostart/copyq.desktop
btop/
copyq/
cosmic-initial-setup-done
gtk-4.0/
libreoffice/
monitors.xml
monitors.xml~
neofetch/
simple-scan/
vlc/
mpv/youtube.com_cookies.txt
mpv/youtube-cookies.txt
